* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

main {
  margin: 30px auto;
  max-width: 1200px;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.selection {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

.trader-selection,
.strategy-selection {
  display: flex;
}

.trader-selection label,
.strategy-selection label {
  margin-right: 15px;
  font-size: 24px;
}

select {
  height: 30px;
  min-width: 300px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: aqua;
  border: none;
  box-shadow: 0 2px 6px 0 black;
  outline: none;
  font-size: 16px;
}
